@page "/configuration-view"
@rendermode InteractiveServer

@using Demo.DbValuesChangeMonitoring.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ConfigurationContext> _dbContextFactory
@inject IConfiguration _configuration


<h3>Configuration</h3>

@if(_data is not null)
{
	<ConfigurationTable Data="_data" />	
}

<br/>

@(_configuration.GetValue<string>("test3"))

@code {
	private List<ConfigurationValue>? _data = null;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			using var context = _dbContextFactory.CreateDbContext();
			_data = await context.ConfigurationValues
				.ToListAsync();
			StateHasChanged();
		}

		await base.OnAfterRenderAsync(firstRender);
	}
}
